./my-project/vendor/
./my-project/node_modules/
./my-project/npm-debug.log
./my-project/yarn-error.log

# Laravel 4 specific
./my-project/bootstrap/compiled.php
./my-project/app/storage/

# Laravel 5 & Lumen specific
./my-project/public/storage
./my-project/public/hot

# Laravel 5 & Lumen specific with changed public path
./my-project/public_html/storage
./my-project/public_html/hot

./my-project/storage/*.key
./my-project/.env
./my-project/Homestead.yaml
./my-project/Homestead.json
./my-project/.vagrant
./my-project/.phpunit.result.cache
